/* line 1, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
body.modal-open {
  overflow: inherit;
  padding-right: inherit !important;
}

/* line 6, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.ui.test.hero.ad {
  top: -30px !important;
}

/* line 10, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.message.closable {
  margin-left: 20%;
  margin-right: 20%;
}

/* line 15, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
h1.ui.header.title {
  color: #008CE3;
  font-size: 20px;
  text-align: left;
  position: relative;
  left: -190px;
  text-transform: uppercase;
  top: 15px;
}

/* line 25, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.featured {
  position: relative;
  text-transform: uppercase !important;
  left: 15px;
}

/* line 31, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
p.sub {
  position: relative;
  left: -190px;
}

/* line 36, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.button.ui.facebook.button {
  position: relative;
  top: 100px;
  left: -35px;
}

/* line 42, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.hero {
  margin-top: -15px;
  height: 450px;
}

/* line 47, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.hero img {
  display: block;
  width: 100%;
  height: 450px;
}

/* line 53, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.ui.form {
  top: 35px;
}

/* line 57, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.action {
  position: relative;
  top: 40px;
  margin-bottom: 120px;
}

/* line 63, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.actions a {
  font-size: 13px;
}

/* line 67, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.song_info {
  position: relative;
  top: -285px;
  left: 50px;
  width: 780px;
}

/* line 74, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.song_info img.ticker {
  margin-bottom: 0px;
  position: relative;
  top: 22px;
}

/* line 80, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
img.slider_img {
  height: 450px;
}

/* line 84, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
img.slider_img:hover {
  opacity: 0.9;
  transition: all 0.5s ease;
}

/* line 89, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.song_info h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: none;
  text-transform: capitalize;
}

/* line 99, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.song_info p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  position: relative;
  top: -23px;
  letter-spacing: 1px;
}

/* line 109, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.song_info p span {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

/* line 117, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.song_info p.blurb {
  font-family: "Lato",sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -50px;
  color: #FFF;
  letter-spacing: 1px;
}

/* line 127, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.play {
  width: 53px;
  height: 53px;
  position: relative;
  left: 500px;
}

/* line 134, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.play img {
  width: 53px;
  height: 53px;
}

/*.footer{
    width:100%;
    height:80px;
    background-color:#008CE3;
    display:block;
    position: relative;
    bottom: 0px;
}

.foot_info{
    position: relative;
}

.foot_info img{
    position: relative;
    top: 20px;
    margin-right: 8px;  
}

.foot_info span{
    position: relative;
    top: 9px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;   
}*/
/* line 169, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.message {
  margin-top: 45px;
}

/* line 174, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.btn-upload {
  margin-bottom: 20px;
}

/* line 179, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.show-bg {
  width: 100%;
  height: 450px;
  display: block;
  background: #1A1A1A;
  margin-top: -35px;
}

/* line 187, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.video-wrapper {
  position: relative;
  top: -14px;
  width: 816px;
}

/* line 193, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.ads-wrapper {
  width: 311px;
  height: 265px;
  border-bottom: 1px dotted #888;
  position: relative;
  left: -37px;
  top: 15px;
}

/* line 202, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.left_col {
  width: 816px !important;
  height: 450px;
}

/* line 206, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.right_col {
  width: 311px !important;
  height: 450px;
  border-right: 1px dotted #888;
  position: relative !important;
  top: -15px;
  padding: 0px;
}

/* line 215, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.video_info {
  position: relative;
  top: 25px;
}

/* line 220, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.video_info h3.ui.header {
  position: relative;
  left: -39px;
  font-family: "lato",sans-serif;
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: -25px;
}

/* line 232, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.show_header {
  position: relative;
  top: 30px;
}

/* line 237, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.admin_info {
  position: relative;
  top: 10px;
}

/* line 242, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.index_info {
  position: relative;
  top: -145px;
  left: 25px;
}

/* line 248, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.index_details {
  position: relative;
  top: 20px;
}

/* line 253, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.index_details h2 {
  font-size: 16px;
  color: #fff;
  font-family: "lato",sans-serif;
  margin: 0px;
  padding: 0px;
}

/* line 261, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.index_details h4 {
  font-size: 14px;
  color: #fff;
  font-family: "lato",sans-serif;
  margin: 0px;
  padding: 0px;
}

/* line 269, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.index_details p {
  font-size: 13px;
  color: #fff;
  font-family: "lato",sans-serif;
  margin: 0px;
}

/* line 275, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.index_play {
  position: relative;
  left: 225px;
  height: 53px;
  width: 53px;
}

/* line 282, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.hot_title {
  font-weight: 900;
  color: #888;
}

/* line 287, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_info {
  position: relative;
  top: -145px;
  left: 25px;
}

/* line 293, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_details {
  position: relative;
  top: 40px;
  left: -15px;
}

/* line 299, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_details h2 {
  font-size: 13px;
  color: #FFF;
  font-family: "lato",sans-serif;
  margin: 0px;
  padding: 0px;
}

/* line 307, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_details h4 {
  font-size: 12px;
  color: #FFF;
  font-family: "lato",sans-serif;
  margin: 0px;
  padding: 0px;
}

/* line 315, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_details p {
  font-size: 12px;
  color: #FFF;
  font-family: "lato",sans-serif;
  margin: 0px;
}

/* line 321, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_play {
  position: relative;
  left: 90px;
  /*height: 53px;
  width: 53px;*/
  top: 30px;
}

/* line 329, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_col {
  width: 288px !important;
  height: 150px !important;
}

/* line 335, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_col .tile_right:nth-of-type(2) {
  position: relative;
  top: -60px;
}

/* line 340, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.tile_col .tile_left:nth-of-type(2) {
  position: relative;
  top: -60px;
}

/* line 345, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
button.ui.red.right.corner.label {
  border: none;
}

/* line 349, /home/codio/workspace/app/assets/stylesheets/main.css.scss */
.ui.corner.label .icon {
  position: relative;
  top: -8px !important;
}
/* line 1, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.brand a {
  text-decoration: none;
}

/* line 5, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.menu .item {
  text-transform: uppercase !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
  color: #666 !important;
  font-size: 12px;
}

/* line 13, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.small.modal {
  width: 380px !important;
  position: absolute;
  left: 850px;
}

/* line 19, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.input[class*="left icon"] > input {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 24, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.modal > .header {
  background: #00d936 !important;
  color: white !important;
  text-transform: uppercase;
  font-size: 28px !important;
}

/* line 31, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.input.upload {
  font-size: 1em !important;
  width: 340px !important;
  margin-bottom: 20px !important;
  text-transform: uppercase !important;
}

/* line 38, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.input[type=placeholder].upload {
  text-transform: uppercase;
}

/* line 42, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
input#video_poster {
  margin-bottom: 20px !important;
}

/* line 46, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
textarea#video_description {
  width: 340px;
  height: 89px;
  padding-left: 15px;
  padding-top: 5px;
  color: #888;
}

/* line 54, /home/codio/workspace/app/assets/stylesheets/navstyle.css.scss */
.ui.positive.button.right {
  position: relative !important;
  right: 10px !important;
  width: 340px !important;
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/


.bx-wrapper {
	position: relative;
	margin: -35px auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	/*-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	left: -5px;
	background: #fff;*/
    border: 5px solid rgba(255, 255, 255, 0);
    height:450px !important;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -25px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: image_path('bx_loader.gif') center center no-repeat #fff;
	height: 450px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background:#DBDBDB;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #03CFEB;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: image_path('controls.png') no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: image_path('controls.png')  no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: image_path('controls.png')  -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: image_path('controls.png')  -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

 
 @import "semantic-ui";
 @import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Roboto:900);
  
body{
    background-color:#EEEEEE;
}
