<div class="ui card">
  <div class="image">
    <%= image_tag('user.png')%>
  </div>
  <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i>
    3 comments
  </div>
</div>