<%=render :partial =>'shared/hero'%>
<div class="ui grid container">
    <div class="column">
        <h3 class="ui dividing large center aligned featured header ">
         Hot This Week on Mizikjams
        </h3>
    </div>
</div>
<div class="ui grid container">
    <div class="column">
       
    </div>
</div>
