<%=render :partial =>'shared/hero'%>
<div class="ui grid container">
    <div class="column">
        <h3 class="ui dividing large header">
         Hot This Week
        </h3>
        <%=render :partial =>'videos/video'%>
    </div>
</div>
