<div class="ui grid container">
    <div class="column">
        <div><%= image_tag("gray_logo.png")%></div>
         <p class="left">© Mizikjams is crafted with <i class="heart icon"></i> in New York.</p> <p class="right"><%= link_to "Privacy Policy", root_path %> &amp; <a href="/termsofuse.html">Terms of use</a>
        </p>
    </div>
</div>
   
