<div class="footer">
    <div class="ui grid container">
        <div class="column">
           <div class="foot_info">
               <%= image_tag("mjlogo_transparent.png") %>    
               <span>© 2015 MizikJams LLC, All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>