<div class="ui grid container">
     <div class="three wide column">
        <h5 class="ui blue inverted header">About US</h5>
        <div class="ui inverted link list">
          <a class="item" href="/semantic-ui-themes">What is Mizikjams</a>
          <a class="item" href="/themes/new">Jobs</a>
          <a class="item" href="/sell-semantic-ui-themes">How it Works</a>
        </div>
      </div>
      <!--<div class="three wide column">
        <h5 class="ui orange inverted header">Snippets</h5>
        <div class="ui inverted link list">
          <a class="item" href="/snippets">View Snippets</a>
          <a class="item" href="/snippets/new">Create a Snippet</a>
        </div>
      </div>
      <div class="three wide column">
        <h5 class="ui green inverted header">Expo</h5>
        <div class="ui inverted link list">
          <a class="item" href="/expos">Built with Semantic</a>
          <a class="item" href="/expos/new">Submit a Site</a>
          <a class="item" href="/faq">FAQ</a>
        </div>
      </div>-->
      <div class="six wide column">
        <%= image_tag("big_gray_logo.png")%>
        <p></p>
        <p>made with <i class="heart icon"></i> in NYC.</p>
        <p class="terms-privacy">© 2015 |
          <a class="terms-privacy" href="/about">About</a> |
          <a class="terms-privacy" href="/privacy-policy">Privacy</a> |
          <a class="terms-privacy" href="/terms">Terms</a>
        </p>
      </div>
    </div>

   
