  <div class="w-section w-hidden-small w-hidden-tiny main_footer">
    <div class="w-container footer_wrapper">
      <ul class="w-list-unstyled w-clearfix mainlist">
        <li class="list">
           <%= link_to (image_tag "twitter.png", class: "socialicon"), root_path(), :class => "w-inline-block"%>  
        </li>
        <li class="list">
          <%= link_to (image_tag "facebookr.png", class: "socialicon"), root_path(), :class => "w-inline-block"%>  
        </li>
        <li class="list">
          <%= link_to (image_tag "instagram.png", class: "socialicon"), root_path(), :class => "w-inline-block"%>   
        </li>
        <li class="list">
          <%= link_to (image_tag "tumbler.png", class: "socialicon"), root_path(), :class => "w-inline-block"%>   
        </li>
      </ul>
      <ul class="w-clearfix footlist">
        <li class="footlistitem"><a href="#" target="_blank" class="footlistetext">Careers</a>
        </li>
        <li class="footlistitem"><a href="#" target="_blank" class="footlistetext">Advertise</a>
        </li>
        <li class="footlistitem"><a href="#" target="_blank" class="footlistetext">Terms</a>
        </li>
        <li class="footlistitem"><a href="#" target="_blank" class="footlistetext">Privacy and Policy</a>
        </li>
      </ul>
      <div class="footbrand">Mizikjams media llc .Copyright &nbsp;2016</div>
    </div>
  </div>