<div class="ui grid container">
    <div class="footer_link">
        <div class="ui horizontal inverted small divided link list right floated ">
            <a class="item">© 2015 Mizikjams Media llc.</a>
        </div>
    </div>
    <div class="footer_info">
          <div class="ui  horizontal inverted small divided link list">
            <a class="item" href="#">About Us</a>
            <%=link_to 'Contact Us', contact_us_path, class:'item'%>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
          </div> 
    </div>
    
     
</div>

   
