<div class="ui grid container">
    <div class="column">
        <div class="hero">
           <%= image_tag('hero.jpg')%>
            <div class="play">
               <%=image_tag('play_btn_off.png')%>
            </div>
            <div class="song_info">
                <%-#image_tag('hotlogo.png')%>
                <h2>Nu Look </h2>
                <p>Official video <span>"confessions"</span> of nu look </p>
                <p class="blurb">"....Jan mwen orgueilleux mwen pat pense ke’l te posib "</p>
            </div>
        </div>  
    </div>
</div>