<div class="ui compact menu  top_up">
  <div class="ui simple dropdown item">
   Music Genres
    <i class="dropdown icon"></i>
    <div class="menu">
      <% @category.each do |category|%>
      <div class="item genres"><%=  category.name %></div>
      <%end%>
    </div>
  </div>
</div>