<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui small modal">
          <i class="close icon"></i>
          <div class="header">
           Upload Video to CDN Account
          </div>
          <div class="image content">
             <div data-percent="41" class="ui violet progress">
              <div style="transition-duration: 300ms; width: 38%;" class="bar"></div>
              <div class="progress">60%</div>
            </div>
          </div>
          <div class="actions">
            <div class="ui black deny button">
              Nope
            </div>
            <div class="ui positive right labeled icon button">
              Yep, that's me
              <i class="checkmark icon"></i>
            </div>
          </div>
        </div>
    </div>
</div>
