<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui small modal">
          <i class="close icon"></i>
          <div class="header">
           <i class="upload icon"></i>Publish Video
          </div>
          <div class="image content">
            <%=render partial: "videos/form", locals:{video: @video}%>
          </div>
          <!--<div class="actions">
            <div class="ui black deny button">
              Nope
            </div>
              
            <div class="ui positive right labeled icon button">
              Yep, that's me
              <i class="checkmark icon"></i>
            </div>
          </div>-->
        </div>
    </div>
</div>
