<div class=" red statistic">
    <div class="value">
      <%= image_tag('user.png',class:"ui circular inline image")%>
      42
    </div>
    <div class="label">
      Team Members
    </div>
  </div>
<div class=" orange statistic">
    <div class="value">
     <i class="heart icon"></i> 
      220
    </div>
    <div class="label">
     Likes
    </div>
  </div>
  <div class=" blue statistic">
    <div class="value">
      31,200
    </div>
    <div class="label">
      Views
    </div>
  </div> 
  <div class=" purple statistic">
    <div class="value">
      1500
    </div>
    <div class="label">
      Videos
    </div>
  </div>
  <div class=" green statistic">
    <div class="value">
     500
    </div>
    <div class="label">
      Artists
    </div>
  </div>
  <div class=" teal statistic">
    <div class="value">
      2200
    </div>
    <div class="label">
      Members
    </div>
  </div>