  <body class ="open-modal">  
<% provide(:title, "admin") %>
  <div class="ui grid container">
      <div class="three wide column">
          <div class="manage_box">
            <%=link_to manage_path, data: { no_turbolink: true }, class: 'ui blue button manage' do %>
             <i class="configure icon"></i> Manage Videos
            <%end%>  
          </div> 
      </div>
  </div>
 
 <div id="dash_box">
     
  <div class="ui grid container">
    <div class="three wide column"> 
        <div class="admin_left">    
            <div class="admin_left_head">
                <h2 class="ui header">
                  <img class="ui image" src="/images/icons/school.png">
                  <div class="content">
                    <h1 class="ui header">500</h1>
                  </div>
                </h2>
            </div>  
        </div>    
    </div>
      
    <div class="six wide column">
         <div class="admin_center">
            
        </div>
   
    </div> 
    
    <div class="three wide column">
         <div class="admin_right ">
            
        </div>
    
    </div>
         
 </div>
 
 
</div>   

<%= render :partial =>"pages/modal"%>         
