<div class="ui grid container">
    <div class="column">
        <!--<div class="ui primary button">Upload videos</div>-->
        <div class="ui huge header">
            <a class="ui blue image label">
              <%= image_tag("user.png")%>
              <!--<img src="/images/avatar/small/veronika.jpg">-->
              Veronika
              <div class="detail">Admin</div>
            </a>
            Admin Dashboard
        </div>
        <div class="ui inverted pointing menu">
          <a class="active item">
            statistics   
          </a>
          <a class="item">
            Manage users 
          </a>
          <a class="item">
            Manage videos 
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui transparent icon input">
                <input placeholder="Search..." type="text">
                <i class="search link icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
           <div class="ui statistics">
              <div class="statistic">
                <div class="value">
                  220
                </div>
                <div class="label">
                 Likes
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  31,200
                </div>
                <div class="label">
                  Views
                </div>
              </div> <div class="statistic">
                <div class="value">
                  1500
                </div>
                <div class="label">
                  Videos
                </div>
              </div>
                <div class="statistic">
                <div class="value">
                 500
                </div>
                <div class="label">
                  Artists
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  2200
                </div>
                <div class="label">
                  Members
                </div>
              </div>
            </div>
          <p></p>
        </div>
    </div>
</div>
<%= render :partial =>"pages/modal"%>