<% provide(:title, "browse")%>

<div class="w-section w-hidden-small w-hidden-tiny videoplay">
    <div class="browse_top">
       <span class="hot_title">Watch now: trending in the library </span> 
    </div>
    <div class="browse_list">
       <%= render @videos %>   
    </div>
     <div id="infinite-scrolling">
        <%= will_paginate @videos %>
    </div>
    
   </div>
     
  </div>
</div>

 
       
