<% provide(:title, "streaming tv") %>
<div class="show-bg">
    <div class="ui grid container">
        <div class="two column row">
            <div class="twelve wide column ">
                <div class ="video-wrapper" id="video_player">
                   <iframe src="//content.jwplatform.com/players/i88hW41S-r7mhaEGG.html" width="816" height="450" frameborder="0" scrolling="auto" allowfullscreen></iframe>
                   <div class="tv_logo">
                     <%=image_tag('brand_logo.png')%>  
                   </div>
                </div>
            </div>
            <div class=" right floated left aligned four wide column right_col ">
                <div class ="ads-wrapper">
                   <div class="ui medium rectangle ad">
                       <%=image_tag("test_ad.jpg")%>
                    </div>   
                </div>
            </div> 
        </div>
    </div>
</div>