.admin_left{
    display:block;
    width:259px;
    height:358px;
    background-color:#fff;
    border:1px solid #DDDDDD;
    margin-right:17px;
    position:relative;
    top:-25px;
}

.admin_center{
    display:block;
    width:568px;
    height:358px;
    background-color:#fff;
    border:1px solid #DDDDDD;
    position:relative;
    top:-25px;
    left:55px;
}

.admin_right{
    display:block;
    width:259px;
    height:358px;
    background-color:#fff;
    border:1px solid #DDDDDD;
    margin-right:17px;
    float:right;
    position: relative;
    top:-25px;
    left: 290px;
}

.manage_box{
    position:relative;
    top:-25px;   
}

.dash_actions{
    text-align: center;
  }

.dash_actions ul{
    list-style-type: none;
    margin: 0; padding: 0;

   }
   
.dash_actions ul li{
    float: left;
    text-align: center;
   }
 
.dash_actions ul li a{
    display: block;
    padding: 0px 3px;
    text-align: center;
   }

