.browse_top{
  
         
}

.browse_top ul {
	list-style-type: none;
	margin: 0; padding: 0;
	float: right;
}
.browse_top ul li {
	float: left;
    display: inline-block;
	padding: 0 8px;
    height:150px;
    margin-bottom:20px;
}

.top_up {
    position: relative;
    top: -60px;
    left: -35px;
    
}

.tile{
    margin: 0px;
    width: 577px;
}

.tile_main .ui.fluid.image img.tile_img{
    width:264px !important;
    height:150px !important;
}

.tile ul {
	list-style-type: none;
	margin: 0; padding: 0;
}
.tile ul li {
	float: left;
    display: inline !important;
    height: 150px;
    margin-bottom: 10px;
    padding: 0px 8px;
}

.tile ul li .tile_box{
    width:264px;
}

input[type = image]{
    position: relative;
    left: -30px;
    top: 4px;
}

ul.left.floated{
    position:relative;
    height:150px;
    margin-bottom:-45px;
}

ul.related.floated{
    position:relative;
    top:-10px;
}

.category_btn{
    float:right;
}

.move_left{
    position: relative;
    left: -6px;
}

.tile_play a img{
    display:none;
}

.show_top ul li:hover  .tile_info:hover .tile_play:hover a:hover img:hover{
    display:block;
    opacity:1;
}
.show_top ul li:hover  .tile_info .tile_play a img{
    display:block;
    opacity:0.5;
}

.browse_top ul li:hover  .tile_info .tile_play a img{
    display:block;
    opacity:0.5;
    
}
.browse_top ul li:hover  .tile_info:hover .tile_play:hover a:hover img:hover{
    display:block;
    opacity:1;
    transition: opacity .25s ease-in-out;
}

.top ul li:hover  .tile_info .tile_play a img{
    display:block;
    opacity:0.5;
}

.top ul li:hover  .tile_info:hover .tile_play:hover a:hover img:hover{
    display:block;
    opacity:1;
    transition: opacity .25s ease-in-out;
}

.tile ul li:hover  .tile_info .tile_play a img{
    display:block;
    opacity:0.5;
}

.tile ul li:hover  .tile_info:hover .tile_play:hover a:hover img:hover{
    display:block;
    opacity:1;
    transition: opacity .25s ease-in-out;    
}


.results{
    position:relative;
    top:-25px;
}
