h1.ui.header.title{
    color: #9E373E;
    font-size: 20px;
    text-align: left;
    position: relative;
    left: -190px;
    text-transform: uppercase;
    top: 15px;
}

p.sub{
   position: relative;
   left: -190px; 
}

.button.ui.facebook.button{
    position:relative;
    top:60px;
    left:-35px;
}

.hero img{
    display:block;
    width:100%;
    height:450px;
    margin-top:25px;
}