object, embed { 
  outline: 0;
}

.ui.test.main.ad {
    top: -30px !important;
}

.message.closable {
  margin-left: 20%;
  margin-right: 20%;
 }

h1.ui.header.title{
    color:#008CE3;
    font-size: 20px;
    text-align: left;
    position: relative;
    left: -190px;
    text-transform: uppercase;
    top: 15px;
}

.featured{
    position: relative;
    text-transform:uppercase !important;
    top:-100px;
}

.play_head{
    position: relative;
    text-transform: uppercase !important;
    top: -20px;
    left: 30%;
}

.tile_feature{
    position: relative;
    text-transform:uppercase !important;
    top:-25px;
}

p.sub{
   position: relative;
   left: -190px; 
}

.hero{
    margin-top:-15px;
    height:450px;
}

.hero img{
    display:block;
    width:100%;
    height:450px;
}

.ui.form {
    top: 35px;
}

.action{
    position: relative;
    top: 40px;
    margin-bottom: 120px;
}

.actions a{
    font-size:13px;
}

#container2  
    {  
     padding:20px;  
     width:100%;  
     color:#FFFFFF;  
     position:relative;  
     overflow:hidden;
     bottom: 210px;   
    }  
      
#container2 .song_info  
    {  
        opacity: 0.3;
        background-color: #000;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 40px;
        left: 0px; 
    }  
      
.song_info_box{
         position: relative;
         top:28px;   
    }



.song_info img.ticker{
    margin-bottom:0px;
    position:relative;
    top:22px;
}

img.slider_img{
    height:450px;
}



.song_info_box h2{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight:900;
    color:#fff;
    letter-spacing:1px;
    margin-bottom:none;
    text-transform:capitalize;
}

.song_info_box p{
    font-family: 'Oswald', sans-serif;
    font-size:26px;
    font-weight:700;
    color:#fff; 
    position:relative;
    top:-20px;
    letter-spacing:1px;
}

.song_info_box p span{
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    font-weight:400;
    color:#fff; 
    text-transform:uppercase;
}

.song_info_box p.blurb{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -48px;
    color: #FFF;
    letter-spacing:1px;
}

.play{
    width: 53px;
    height: 53px;
    position: relative;
    left: 530px;
    bottom: 480px;
}

.play img{
    width: 53px;
    height: 53px;
    
}

.message{
    margin-top:45px;
}


.btn-upload{
    margin-bottom:20px;
}


.show-bg{
    width:100%;
    height:450px;
    display:block;
    background:#010001;
    margin-top:-40px;
}

.video-wrapper{
    position:relative;
    top:-14px;
    width:816px;
}

.ads-wrapper{
    width:311px;
    height:265px;
    border-bottom:1px dotted #888;
    position: relative;
    left: -37px;
    top: 15px;
}

.left_col{
    width:816px!important;
    height:450px;
}
.right_col{
    width:311px !important;
    height:450px;
    border-right:1px dotted #888;
    position: relative !important;
    top: -15px;
    padding:0px;
}

.video_info{
    position:relative;
    top:25px;
}

.video_info h3.ui.header{
    position: relative;
    left: -39px;  
}

.video_info h3.ui.header.video_title{
    font-family: "lato",sans-serif;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: -25px; 
}
.video_info h3.ui.header.video_band {
    font-family: "lato",sans-serif;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: -25px; 
}

.video_info h3.ui.header.video_view {
    font-family: "lato",sans-serif;
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: -25px; 
}

.show_header{
    position:relative;
    top:30px;
    text-transform: uppercase !important;
    font-size: 18px !important;   
}

.admin_info{
    position:relative;
    top:10px;
}

.index_info{
    position:relative;
    top:-145px;
    left:25px;
}

.index_details{
    position:relative;
    top:20px;
    height:0px;
}

.index_details h2{
    font-size:16px;
    color:#fff;
    font-family:"lato",sans-serif;
    margin:0px;
    padding:0px;
    text-transform: uppercase;
}

.index_details h4{
    font-size:14px;
    color:#fff;
    font-family:"lato",sans-serif;
    margin:0px;
    padding:0px;
}

.index_details p{
    font-size:13px;
    color:#fff;
    font-family:"lato",sans-serif;
    margin:0px;
}
.index_play{
    position: relative;
    left: 225px;
    height: 53px;
    width: 53px;
    top:-65px;
}


.tile_info{
    position: relative;
    top: -150px;
    left: 25px;
}

.tile_details{
    position: relative;
    bottom: -85px;
    left: -15px;
    width: 240px;
}

.tile_details h2{
    font-size: 13px;
    color: #FFF;
    font-family: "lato",sans-serif;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.tile_details h4{
    font-size: 12px;
    color: #FFF;
    font-family: "lato",sans-serif;
    margin: 0px;
    padding: 0px;
}

.tile_details p{
    font-size: 12px;
    color: #FFF;
    font-family: "lato",sans-serif;
    margin: 0px;
}
.tile_play{
    position: absolute;
    left: 85px;
    top: 45px;
    width: 40px;
    height: 40px;
}

.tile_col{
    width:288px !important;
    height:150px !important;
  
}

.tile_col .tile_right:nth-of-type(2){
    position:relative;
    top:-65px;
}

.tile_col .tile_left:nth-of-type(2){
    position:relative;
    top:-65px;
}

button.ui.red.right.corner.label{
    border:none;
}

.ui.corner.label .icon{
    position:relative;
    top:-8px !important;
}

.popup{
    position: relative;
    left: 220px;
    bottom: 20px;
    width: 40px;
    height: 0px;
}

select.ui.dropdown {
    width: 380px !important;
}

select.ui.dropdown option{
    color:#888;
}

.gravatar_text{
    color:#767676;
    margin-top:8 px;
    font-size:13px;
    font-family:inherit;
    
}

p.gravatar_text span{
    color:#1678C2;
}

.ui.form.edit_form{
    top:3px;
}

.top{
    position:relative;
    top:-100px;
}

.top ul {
	list-style-type: none;
	margin: 0; padding: 0;
	float: right;
}
.top ul li {
	float: left;
    display: table;
	padding: 0 12px;
}

.top ul li:nth-child(1){
    padding-left:0px;
}

.top ul li:last-child{
    padding:0px 0px 0px 10px;
    float:right;
}

.main-wrapper{
    position:relative;
    top:-20px;
}

.move_up{
    position:relative;
    top:-35px;
}


.show_top{
    position: relative;
    top: 35px;
    left: -3px;  
}


.show_top ul {
	list-style-type: none;
	margin: 0; padding: 0;
	float: right;
}
.show_top ul li {
	float: left;
    display: inline-block;
	padding: 0 8px;
    height:150px;
    margin-bottom:20px;
}

.show_top ul li:nth-child(1){
 
}

.show_top ul li:last-child{
  
}

.ad_main{
    position:relative;
    top:-40px;
}


.specs{
  max-width: 450px;
 }

 .flag.premiere {
    position: absolute;
    top: 80px;
    left: 0px;
    background: #FF0000 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16pt;
    padding: 8px 15px 10px 16px;
    width: auto;
    font-family: "oswald";
    font-weight:400;
 }

 .flag.hot.slider_flag {
    position: absolute;
    top: 80px;
    left: 0px;
    background:#FC0094 none repeat scroll 0% 0%;
    color:#7B004F;
    font-size: 16pt;
    padding: 8px 15px 10px 16px;
    width: auto;
    font-family: "oswald";
    font-weight:400;
 }

 .flag.certified{
    position: absolute;
    top: 80px;
    left: 0px;
    background: #962BF6 none repeat scroll 0% 0%;
    color: #1C1A21;
    font-size: 16pt;
    padding: 8px 15px 10px 16px;
    width: auto;
    font-family: "oswald";
    font-weight: 400;
 }

.flag.release{
    position: absolute;
    top: 80px;
    left: 0px;
    background: #1EFFA0 none repeat scroll 0% 0%;
    color: #0D4F6A;
    font-size: 16pt;
    padding: 8px 15px 10px 16px;
    width: auto;
    font-family: "oswald";
    font-weight: 400;
 }

.small.flag.premiere {
    position: absolute;
    top: 0px;
    left: 22px;
    background: #FF0000 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 10pt;
    padding: 4px 8px 3px;
    width: auto;
 }

.made{
    font-family:'Lato', sans-serif;
    color:#fff;
    position:relative;
    top:-20px;
    font-size: 12px;
}

.terms-privacy{
    font-family: 'Lato', sans-serif;
    color: #FFF;
    position: relative;
    font-size: 12px;
}

.sharebox{
   position:relative;
   top: 75px;
   left: -40px;
}

.stMainServices.st-facebook-counter{
   height:32px !important;
}

.stMainServices.st-twitter-counter{
  height:32px !important;  
}


.stButton_gradient.stHBubble{
   height:22px !important;
}

.space{
    display:block;
    height:90px;
}


.ui.fluid.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.ui.fluid.image:hover:after {
    opacity: 1;
}
 
.ui.red.label {
    border-color: #396A8F !important;
    color: #FFF !important;
}


.button-clear{
    outline: 0;
    background:none;
    border:0;
}

.search-btn{
    font-size: 18px;
    color: #444;
    position: relative;
    right: 50px;
}

.search-grid{
   display: inline-table;
   margin-right:18px;
}

.tile_play a img.search-res {
    display: block;
}



















