<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui small modal">
          <i class="close icon"></i>
          <div class="header">
          New Playlist
          </div>
          <div class="image content">
            <%= render :partial=> "playlists/form",locals:{playlist: @playlist}%>
          </div>
        </div>
    </div>
</div>