<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui small modal intro_modal">
          <i class="close icon"></i>
          <div class="image content">
             testing modal
          </div>
        </div>
    </div>
</div>